// Confirm Password

#confirm-password {
    .confirm-password-bg {
      // background-image: url("../../../../assets/img/gallery/login_bg.jpg");
      background-image: url('../../../../assets/img/pdf/pdf_header.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
  .login_btn_clr{
    // background: #a43501;
    background: #009999 !important;
  }
  .login_text_clr{
    // color: #a43501;
    color: #009999 !important;
  }
  .bg-transparent{
    background: transparent !important;
  }
  .grey-overlay{
    // background: #867e7e8f;
    background:#7070708f;
  }
  .outline-btn{
    border: 1px solid;
    border-color: #a43501;
    background-color: transparent;
    color: #a43501;
    box-shadow: none !important;
  }
  .p-32{
    padding: 32px;
  }