@import "assets/style/index";


.card{
    @include card(100%, 752px);
    padding: 20px 0
}

.risk-label{
    @include font(600, 18px, 28px, #000000)
}

.address{
    @include font(300, 14px, 17px, #000000)
}

.risk-intensity{
    @include font(600, 14px, 24px, #000000)
}

.category{
    @include font(600, 15px, 19px, #000000)
}
  
.range{
    @include font(600, 12px, 19px,  #EA1414)
}

.description{
    @include font(300, 12px, 15px, #000000);
    text-align: left;
    overflow: auto;
}

.px-20{
    padding: 0 20px;
}

.description::-webkit-scrollbar {
    width: 5px;
}
  
.description::-webkit-scrollbar-thumb {
    background: #adb5bd;
}
  

.value{
    @include font(500, 22px, 27px, #000000);
    text-align: center;
    border: 1px solid;
    letter-spacing: 0.05em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 40px;
}
  
.value span{
    @include font(500, 10px, 12px, #000000);
    text-align: center;
    letter-spacing: 0.05em;
    border: 0.368554px solid;
    border: unset !important;
}

.score-box{
    background: #FFFFFF;
    border: 0.797404px solid #DDDDDD;
    border-radius: 10px;
    height: 238.67px;
    padding: 20px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.circle-progress{
    display: flex;
    justify-content: center;
}

:host ::ng-deep b{
    font-weight: 600 !important;
}
  
.bold{
    font-weight: 600 !important;
}

