<!--Forgot Password Starts-->
<!-- <section id="forgot-password">
  <div class="container-fluid forgot-password-bg" style="background: rgba(12, 40, 40, 0.62);">
    <div class="row full-height-vh m-0 d-flex align-items-center justify-content-center">
      <div class="col-md-7 col-sm-12">
        <div class="card bg-transparent">
          <div class="card-content bg-transparent">
            <div class="card-body bg-transparent fg-image"> -->
<div class="row m-0 bg-transparent d-flex justify-content-center">
  <div class="col-lg-5 d-none d-lg-block text-center p-5 grey-overlay">
    <img src="../../assets/img/logos/alphaGeo-login.png"
      alt="Login to access AlphaGeo: future-proof analytics on one platform" class="img-fluid logo-w" width="400"
      height="230" />
  </div>

  <div class="col-lg-5 col-md-12 bg-white p-4">
    <h4 class="card-title mb-2">Recover Password</h4>
    <p class="card-text mb-3 label">
      Please enter your user name and we'll send you
      instructions on how to reset your password.
    </p>
    <form #f="ngForm">
      <label class="label mb-0">Email</label>
      <input type="email" class="form-control" name="inputEmail" id="inputEmail" required [(ngModel)]="email"
        #inputEmail="ngModel" [pattern]="emailValidator" />
      <small class="form-text text-muted danger text-left font-small-1" *ngIf="
                        inputEmail.invalid &&
                        inputEmail.dirty &&
                        inputEmail.value
                      ">
        {{ "Enter a correct email" }}</small>
    </form>
    <div class="fg-actions d-flex justify-content-between mt-3">
      <div class="login-btn">
        <!-- [routerLink]="['']" -->
        <button class="btn outline-btn" (click)="forgot_password.next()">
          <a class="text-decoration-none login_text_clr">Back To Login</a>
        </button>
      </div>
      <div class="recover-pass">
        <button class="btn login_btn_clr" (click)="onSubmit()">
          <a class="text-decoration-none text-white">
            Recover
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--Forgot Password Ends-->