<div class="pdf-page-padding footer py-2 d-flex justify-content-between align-items-center">
    <div>
        <img src="assets/img/svg/email-pdf.svg" height="16">
        <span class="fw-400 fz-14 line-h-18 black underline ml-1">support@alphageo.ai</span>
        <img src="assets/img/svg/globe-pdf.svg" height="16" class="ml-3">
        <span class="fw-400 fz-14 line-h-18 black underline ml-1">https://alphageo.ai/</span>
    </div>
    <div class="page-number fw-500 fz-15 line-h-22 underline">{{pageNumber}}</div>
</div>