<section>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-12">
      <div class="card">
        <div class="card-header">
          <!-- header for card -->
          <div class="col-xl-12 col-lg-12 col-12 col-md-12">
            <h3 class="card-title mb-0">Disclaimer</h3>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="col-xl-12 col-lg-12 col-12 col-md-12 text-justify">
              <span class="">
                AlphaGeo is not responsible for any errors or omissions, or for the results obtained from the use
                of the information contained in this research product. Nothing herein shall substitute for the
                independent investigation and the sound technical and business judgment of the user. In no event will
                AlphaGeo or its office bearers, partners, employees, associates, affiliates, or agents, be liable
                for any decision made or action taken on the basis of this research product.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>