<div class="banner">
    <div class="title">Welcome to Portfolio Analytics</div>
    <div class="desc">
        This is the Multi-asset View. We have provided 20 sample locations that you can categorize by tier, as well as
        apply filters such as location or property type. Below the map you will see the overall portfolio performance
        data, where you can view results by risk or overall. In the Single-asset View, you can choose individual
        properties to access their specific data and select multiple locations for comparison.
    </div>
</div>