@mixin textDecoration($font-weight, $font-size, $line-height, $color) {
    // font-family: 'Montserrat';
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

.card {
    background: #FFFFFF !important;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    height: 5rem;
}

.mt-6 {
    margin-top: 5rem !important;
}

.title {
    @include textDecoration(500, 18px, 24px, #000000);
    text-align: center;
    padding-top: 2rem;
}

// for styhling height of ng select. first give static height and then set height through min-heigh
:host ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 30px;
    min-height: 2px;
}

// for styling of selected value from options
:host ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    padding-top: 2px !important;
}

// for styling of cross icon
:host ::ng-deep .ng-select .ng-clear-wrapper {
    display: none !important;
}

//  for styling of arrow wrapper
:host ::ng-deep .ng-select .ng-arrow-wrapper {
    padding-top: 3px !important;
}

// for styling of border color when focused and option is selected
:host ::ng-deep .ng-select-focused.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: #009999 !important;
}