<div class="continer-fluid">
    <div class="py-3 text-center">
        <span class="title">
            {{title}}
        </span> <br>
    </div>
    <div class="bars-container pb-3">
        <div class="row pt-2 d-flex align-items-center" *ngFor="let item of barsListing; let i=index">
            <div class="col-md-4 d-flex align-items-center px-0">
                <div class="col-3 index-nmbr pr-0 text-center">
                    {{i+1}}.
                </div>
                <div class="col-10 pl-0">
                    <!--For CA -->
                    <ng-container *ngIf="selectedType === 'census_tract'">
                        <span class="text">{{item?.name}}</span>
                    </ng-container>

                    <!--For US -->
                    <ng-container *ngIf="selectedType === 'counties' || selectedType === 'zip_codes'">
                        <a *ngIf="item?.latitude && hasAccessToLocationExplorer"
                            [href]="selectedType === 'counties' ? '/location-explorer/' + item.latitude + '/' + item.longitude + '/9' : '/location-explorer/' + item.latitude + '/' + item.longitude + '/10'"
                            class="text underlined">{{item?.name}}
                        </a>
                        <!-- If the item has no lat/lng, do not show it as a link.-->
                        <span *ngIf="!item?.latitude || !hasAccessToLocationExplorer" class="text">{{item?.name}}</span>
                    </ng-container>

                </div>
            </div>
            <div class="col-md-8">
                <div class="progress pr-1">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                        aria-valuemax="100" style="border-radius: 0.25rem;"
                        [ngStyle]="{'width' : item.width , 'background' : item.color}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer d-flex py-2 mt-3" id="export_btn" *ngIf="show_footer">
        <span class="modal-btn" *ngIf=" rankingType == 'zip_codes' " (click)="openModal(modal)">Export</span>
    </div> -->
</div>

<!-- Zip Code Forecaster and Climate Price Modal -->
<ng-template #modal let-c="close" let-d="dismiss">
    <div class="pt-3">
        <div class="modal-heading">
            <span class="pl-4">{{modalTitle}}</span>
        </div>
        <div class="container-fluid my-3 px-4">
            <div class="row">
                <div class="col-md-4 py-1 d-flex" *ngFor="let item of barsListing; let i=index">
                    <div style="width: 5%;" class="index-nmbr">
                        {{i+1}}.</div>
                    <input class="ml-2" type="checkbox" (change)="onZipCodesItemChecked()" [(ngModel)]="item.export"
                        [disabled]="item.disabled">
                    <span class="text ml-2" [class.text-disabled]=" item.disabled">{{item?.name}}</span>
                </div>
            </div>
        </div>
        <div class="d-flex py-2 footer">
            <div class="btn-white" (click)="closeModal()">Cancel</div>
            <span class="btn-green-zipcode ml-1" (click)="exportDataToClimatePrice()">Export to Climate Price
                Analysis</span>
        </div>
    </div>
</ng-template>

<!-- County Forecaster Modal -->
<ng-template #countyModal let-c="close" let-d="dismiss">
    <div class="pt-3">
        <div class="modal-heading">
            <span class="pl-4">{{modalTitle}}</span>
        </div>
        <div class="container-fluid my-3 px-4">
            <div class="row">
                <div class="col-md-4 py-1 d-flex" *ngFor="let item of barsListing; let i=index">
                    <div style="width: 5%;" class="index-nmbr" [ngStyle]="{'opacity' : item.disabled ? 0.5 : unset}">
                        {{i+1}}.</div>
                    <input class="ml-2" type="checkbox" (change)="onCountyForecasterItemChecked()"
                        [(ngModel)]="item.export" [disabled]="item.disabled">
                    <span class="text ml-2" [class.text-disabled]=" item.disabled">{{item?.name}}</span>
                </div>
            </div>
        </div>
        <div class="d-flex py-2 footer">
            <div class="btn-white" (click)="closeModal()">Cancel</div>
            <div class="btn-green ml-1" (click)="exportDataToForecaster()">Export</div>
        </div>
    </div>
</ng-template>