<section>


  <!-- Coronavirus cases state one-->
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-12">
      <div class="card">
        <div class="card-header">
          <!-- header for card -->
          <div class="col-xl-12 col-lg-12 col-12 col-md-12">
            <h3 class="card-title mb-0">Methodology</h3>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="col-xl-12 col-lg-12 col-12 col-md-12 text-justify">
              <span class="">
                AlphaGeo draws from an ever expanding data lake of sources relevant to forecasting land value. It evaluates multi-year historical trends to estimate future land value per acre at the county level. More than fifty variables are clustered into nearly one dozen themes such as climate, infrastructure, health, economy, and so forth. These variables are trained in neural networks to discover historical patterns and forecast future price trends. Importantly, because the impact of many variables will change considerably in the future, AlphaGeo allows for scenario based prediction by which the weight of various indicators can be modified to produce land price predictions across a wide range of potential conditions.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
