<!--Confirm Password Starts-->
<section id="confirm-password">
  <div class="container-fluid confirm-password-bg px-0">
    <div class="row full-height-vh m-0 d-flex align-items-center justify-content-center"
      style="background: rgba(12, 40, 40, 0.62);">
      <div class="col-md-7 col-sm-12">
        <div class="card bg-transparent">
          <div class="card-content bg-transparent">
            <div class="card-body bg-transparent fg-image">
              <div class="row m-0 bg-transparent">
                <div class="col-lg-6 d-none d-lg-block text-center py-3 grey-overlay">
                  <img src="../../assets/img/logos/alphaGeo-login.png"
                    alt="Login to access AlphaGeo: future-proof analytics on one platform" class="img-fluid logo-w"
                    width="400" height="230" />
                </div>
                <div class="col-lg-6 col-md-12 bg-white p-32">
                  <h4 class="card-title mb-2">Confirm Password</h4>
                  <p class="card-text mb-3">
                    Please enter your password.
                  </p>
                  <input type="password" class="form-control mb-3" placeholder="Password" name="inputPassword"
                    id="inputPassword" [(ngModel)]="password" #inputPassword="ngModel" required />
                  <input type="password" class="form-control" placeholder="Confirm password" name="inputRepeatPassword"
                    id="inputRepeatPassword" [(ngModel)]="repeatPassword" #inputRepeatPassword="ngModel" required />
                  <!-- <small class="form-text text-muted black text-left font-small-1">
                    *Length must be greater or equal to 8
                  </small>
                  <small class="form-text text-muted black text-left font-small-1 mt-0">
                    **Must not be entirely numeric
                  </small> -->
                  <div>
                    <app-password-info-points></app-password-info-points>
                  </div>
                  <small class="form-text text-muted danger text-left font-small-1" *ngIf="
                      inputPassword.value !== inputRepeatPassword.value &&
                      inputRepeatPassword.dirty
                    ">
                    Password doesn't match.
                  </small>
                  <!-- [routerLink]="['/pages/forgotpassword']" -->
                  <div class="fg-actions d-flex justify-content-between mt-3">
                    <div class="recover-pass">
                      <button class="btn login_btn_clr" (click)="verifyUser('set-password')">
                        <a class="text-decoration-none text-white">
                          Confirm Password
                        </a>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Confirm Password Ends-->