<ng-template #modal let-c="close" let-d="dismiss">
    <div class="p-4">
        <div class="label">Add New Tier</div>
        <div class="d-flex justify-content-around mt-3">
            <div>
                <input type="checkbox" [(ngModel)]="checkBoxTier1" (change)="onCheckBoxSelection('Tier 1')">
                <span class="ml-2">Tier 1 {{tierHeadings?.tier1 ? " - " + tierHeadings?.tier1 : '' }}</span>
            </div>
            <div>
                <input type="checkbox" [(ngModel)]="checkBoxTier2" (change)="onCheckBoxSelection('Tier 2')">
                <span class="ml-2">Tier 2 {{tierHeadings?.tier2 ? " - " + tierHeadings?.tier2 : ''}}</span>
            </div>
            <div>
                <input type="checkbox" [(ngModel)]="checkBoxTier3" (change)="onCheckBoxSelection('Tier 3')">
                <span class="ml-2">Tier 3 {{tierHeadings?.tier3 ? " - " + tierHeadings?.tier3 : ''}}</span>
            </div>
            <div>
                <input type="checkbox" [(ngModel)]="checkBoxTier4" (change)="onCheckBoxSelection('Tier 4')">
                <span class="ml-2">Tier 4 {{tierHeadings?.tier4 ? " - " + tierHeadings?.tier4 : ''}}</span>
            </div>
        </div>
        <div class="mt-2">
            <app-tiers-dropdowns #tierDropdowns [form]="filters" [tier1Class]="columnClass" [tier2Class]="columnClass"
                [tier3Class]="columnClass" [tier4Class]="columnClass"
                [showTier1]="checkBoxTier2 || checkBoxTier3 || checkBoxTier4"
                [showTier2]="checkBoxTier3 || checkBoxTier4" [showTier3]="checkBoxTier4" [showTier4]="false"
                [showAllTiersOptions]="false" (PatchValues)="patchValues($event)">
            </app-tiers-dropdowns>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="fz-14px fw-500 green-button" [ngClass]="{'disabled' : disableConfirmBtn }"
                (click)="confirmModal()">Confirm
            </div>
            <div class="fz-14px fw-500 white-button ml-2" (click)="closeModal()">Cancel</div>
        </div>
    </div>
</ng-template>